@media (max-width: 768px) {
    header ul {
        padding-top: 30px;
    }
    .nav-links-MobileMenu {
        position: absolute;
        display: block;
        list-style-type: none;
        left: 0;
        top: 0;
        transition: 0.5s;
        width: 60%;
        height: 100vh;
        background-color: white;
        box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        z-index: 888;
    }
    .header ul li {
        width: 100%;
        transition: all 0.5s ease-in-out;
        text-transform: uppercase;
        line-height: 70px;
    }
    header .link {
        display: none;
    }
    .close,
    .open {
        position: absolute;
        top: 35px;
        right: 20px;
        color: #ff014f;
        display: block;
        font-size: 25px;
        z-index: 999;
    }
    .open {
        top: 18%;
        right: 30px;
    }

    .close {
        right: 45%;
    }

    .close .home-btn {
        background: linear-gradient(145deg, #e2e8ec, #ffffff);
        color: #ff014f;
        border-radius: 50%;
        padding: 0;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}